.gameCardImage{
    width: 250px;
    max-width: 90vw;
}

.homepage-gameCard{
    color: wheat;
    border-width: 5px;
    cursor: pointer;
}

#header{
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#header-userInfo{
    width:fit-content;
    color: wheat;
    max-width: 90vw;
    margin: 20px;
}

.profileImage{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin-right: 20px;
}

.profileName{
    margin: auto;
    font-size: 20px;
}

.clock{
    font-size: 30px;
    color: white;
    margin: auto;
}

.clockDiv{
    margin: 20px;
}

.menuButton{
    border-radius: 10px;
    border: solid 2px white;
    color: white;
    font-size: 20px;
    padding: 5px;
}

#menuDiv{
    margin-top: 50px;
}

@media(max-width: 550px){
    #homepage-header{
        justify-content: center;
    }

    .clockDiv{
       display: none; 
    }
}